nav {
    width: 100%;
    height: 75px;
    background: #212121;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    transition: height 0.3s ease-in-out; /* Add transition for smooth animation */
}

.navbar-left {
    color: #2c87f0;
    display: flex;
    align-items: center;
}

.navbar-left h2 {
    padding: 20px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right h3 {
    padding: 20px;
    padding-right: 75px;
    transition: color 0.5s;
}

.navbar-right h3:hover {
    color: #2c87f0;
}

.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.typing-demo {
    width: 0;
    animation: typing 2s steps(10) forwards, blink 2.5s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    color: white;
}

@keyframes typing {
    to {
        width: 15ch; /* Adjust this value based on your text length */
    }
}

@keyframes blink {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

.hamburger {
    display: none;
}

.cross {
    display: none;
}

@media (max-width: 1000px) {
    .navbar-right {
        display: none;
    }
    .hamburger {
        display: block;
    }

    /* Add styles for responsive menu */
    .navbar-right.show {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: #212121;
        padding-top: 75px;
        transition: transform 0.3s ease-in-out;
        transform: translateX(0);
        z-index: 1001;
    }
}
